

.header__logo {

    padding: 1rem;
    box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
    position: relative;
    z-index: 1000;
    font-family: Shrikhand,"cursive";
    margin: 0 auto;
    text-align: center;
}
