@charset "UTF-8";
/*color*/
/*texte*/
/*
*       Variables pour média queries
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.bold {
  font-weight: bold;
}

.accessibility-label {
  position: absolute;
  left: -999px;
}

/*Mixins*/
#article_1, #article_4, #article_7 {
  animation: apparition 600ms ease-in;
}

#article_2, #article_5, #article_8 {
  animation: apparition 1.2s ease-in;
}

#article_3, #article_6, #article_9 {
  animation: apparition 1.8s ease-in;
}

#article_10 {
  animation: apparition 2.4s ease-in;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes effet-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes apparition {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

.header__logo {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: 1000;
  font-family: Shrikhand, "cursive";
  margin: 0 auto;
  text-align: center;
}
.header__logo__header__logo img {
  width: 50px;
  height: 50px;
}

.main__map {
  display: flex;
  justify-content: center;
  padding: 1.25rem 1rem;
  background-color: #eaeaea;
  font-size: 1.2rem;
  position: relative;
}
.main__map .map__icon {
  margin-right: 1rem;
}
.main__map .map__text {
  font-weight: 500;
  padding-left: 10px;
  border: none;
  font-size: 20px;
  background-color: #f1eded;
  color: black;
}

.main__welcome {
  font-weight: 900;
  padding: 2rem;
  text-align: center;
  background-color: #f6f6f6;
}
.main__welcome .main__subtitle {
  margin: 2rem 0;
  font-weight: 300;
}
.main__welcome .main__btn {
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  color: #fff;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  cursor: pointer;
  transition-duration: 0.25s;
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.main__welcome .main__btn:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.5);
}
.main__welcome .main__btn:hover {
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
}
.main__welcome .main__btn:hover:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.5);
}

.container__filters {
  margin: 0 auto;
}
.container__filters .filter__title {
  font-size: 24px;
  font-weight: 900;
  display: flex;
  justify-content: left;
  margin: 2rem 0 0 1rem;
}
.container__filters ol.filters__steps {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
  margin: 77px 0 66px 55px;
}
.container__filters li.filter__step {
  list-style: none;
  width: 100%;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  position: relative;
  width: 319px;
  height: 71px;
  box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
  border-radius: 1.25rem;
}
.container__filters .round {
  color: white;
  padding: 3px 8px;
  background-color: #9356dc;
  border-radius: 100%;
  font-size: 14px;
  font-weight: 400;
  margin: 0px 15px 0px -33px px;
}
.container__filters .icon__filter {
  color: grey;
  padding: 0 30px 0 30px;
}
.container__filters .icon__filter:hover {
  color: #9356dc;
}
.container__filters li p {
  color: white;
}
.container__filters li:hover {
  cursor: pointer;
  background-color: rgba(213, 184, 234, 0.25);
  transition: 0.5s;
  transform: scale(1.02);
}

.wrapper {
  flex-wrap: wrap;
  gap: 30px;
  margin: 0 auto;
  background-color: #f6f6f6;
  height: auto;
  position: relative;
}
.wrapper .cards__title {
  padding: 72px 0 8px 28px;
  font-size: 24px;
  color: #000;
}
.wrapper ul.cards__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.wrapper .cards__container li {
  position: relative;
  margin: 20px;
  display: inline-block;
  list-style-type: none;
  background-color: #fff;
  border-radius: 20px;
  width: 40%;
  height: 50%;
}
.wrapper .new__title {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 7px 12px 4px;
  border-radius: 2px;
  background-color: #99e2d0;
  color: green;
  font-size: 15px;
  font-weight: 500;
}
.wrapper .card__description {
  width: 99%;
  padding: 20px 20px 10px 20px;
}
.wrapper .card__description .heart__icon {
  bottom: 0;
  right: 0;
  position: absolute;
  padding: 0 9px 6px 0;
}
.wrapper .card__description .heart__icon .empty-heart {
  opacity: 1;
  font-size: 35px;
  color: black;
  transition: 0.5s ease-in-out;
}
.wrapper .card__description .heart__icon .empty-heart:hover {
  opacity: 0;
  cursor: pointer;
}
.wrapper .card__description .heart__icon .full-heart {
  opacity: 0;
  font-size: 35px;
  position: absolute;
  background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-out;
}
.wrapper .card__description .heart__icon .full-heart:hover {
  opacity: 1;
  cursor: pointer;
  top: -1%;
}
.wrapper .card__description .heart__icon:hover {
  cursor: pointer;
}
.wrapper .card__description .heart__icon:hover .empty-heart {
  opacity: 1;
  font-size: 35px;
  color: black;
  transition: 0.5s ease-in-out;
}
.wrapper .card__description .heart__icon:hover .empty-heart:hover {
  opacity: 0;
  cursor: pointer;
}
.wrapper .card__description .heart__icon:hover .full-heart {
  opacity: 0;
  font-size: 35px;
  position: absolute;
  background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-out;
}
.wrapper .card__description .heart__icon:hover .full-heart:hover {
  opacity: 1;
  cursor: pointer;
  top: -1%;
}
.wrapper .card__description h3, .wrapper .card__description p {
  color: black;
}

.img__menu1 {
  object-fit: cover;
  width: 100%;
  height: 277px;
  border-radius: 15px 15px 0 0;
}

.img__menu2 {
  object-fit: cover;
  width: 100%;
  height: 277px;
  border-radius: 15px 15px 0 0;
}

.img__menu3 {
  object-fit: cover;
  width: 100%;
  height: 277px;
  border-radius: 15px 15px 0 0;
}

.img__menu4 {
  object-fit: cover;
  width: 100%;
  height: 277px;
  border-radius: 15px 15px 0 0;
}

.cards__container li:hover {
  box-shadow: 0 0 10px grey;
  transform: scale(1.01);
  transition: 0.5s;
}

footer {
  min-width: 100%;
  margin-top: 7%;
  background-color: #353535;
}
footer .container__footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 1rem;
  margin: auto;
}
footer .footer__logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.6rem;
  margin: 0 0 1rem;
}
footer .footer__items {
  list-style: none;
  position: relative;
  padding-left: 2px;
  line-height: 33px;
}
footer .footer__items .icon__footer {
  position: absolute;
  color: white;
  margin: 8px 6px 0 1px;
  left: 0;
}
footer .footer__items .item__align {
  padding-left: 26px;
}
footer li {
  list-style: none;
}
footer a {
  color: white;
  text-decoration: none;
  display: block;
}

/*Responsive mobile*/
@media screen and (max-width: 768px) {
  html, body {
    font-size: 18px;
    min-width: 100%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Roboto", sans-serif;
  }
  .header__logo {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
    z-index: 1000;
    margin: 0 auto;
    text-align: center;
    min-width: 100%;
  }
  .header__logo__header__logo img {
    width: 50px;
    height: 50px;
  }
  .main__map {
    display: flex;
    justify-content: center;
    padding: 1.25rem 1rem;
    background-color: #eaeaea;
    font-size: 1.2rem;
    position: relative;
  }
  .main__map .map__icon {
    margin-right: 1rem;
  }
  .main__map .map__text {
    font-weight: 500;
    padding-left: 10px;
    border: none;
    font-size: 20px;
    background-color: #f1eded;
    color: black;
  }
  .main__welcome {
    font-weight: 900;
    padding: 2rem;
    text-align: center;
    background-color: #f6f6f6;
  }
  .main__welcome .main__subtitle {
    margin: 2rem 0;
    font-weight: 300;
  }
  .main__welcome .main__btn {
    border: none;
    padding: 0.75rem 1.5rem;
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 100px;
    color: #fff;
    background-color: #686868;
    background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
    cursor: pointer;
    transition-duration: 0.25s;
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  .main__welcome .main__btn:hover {
    cursor: pointer;
    transition-duration: 0.25s;
    background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
    box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.5);
  }
  .main__welcome .main__btn:hover {
    box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  }
  .main__welcome .main__btn:hover:hover {
    cursor: pointer;
    transition-duration: 0.25s;
    background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
    box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.5);
  }
  .container__filters {
    margin-bottom: 4rem;
  }
  .container__filters .filter__title {
    margin: 2rem 0 2rem 1rem;
    display: flex;
    justify-content: start;
  }
  .container__filters ol.filters__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 auto;
    gap: 30px;
  }
  .container__filters li.filter__step {
    list-style: none;
    width: 100%;
    background-color: #f6f6f6;
    display: flex;
    align-items: center;
    position: relative;
    width: 319px;
    height: 71px;
    box-shadow: 0.25rem 0.25rem 0.5rem rgba(0, 0, 0, 0.13);
    border-radius: 1.25rem;
  }
  .container__filters .round {
    color: white;
    padding: 3px 8px;
    background-color: #9356dc;
    border-radius: 100%;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 15px 0px -33pxpx;
  }
  .container__filters .filter__step h3 {
    font-size: 17px;
    font-weight: 900;
  }
  .container__filters .icon__filter {
    color: grey;
    padding: 0 10% 0 10%;
  }
  .container__filters .icon__filter:hover {
    color: #9356dc;
  }
  .container__filters li p {
    color: white;
  }
  .container__filters li:hover {
    cursor: pointer;
    background-color: rgba(213, 184, 234, 0.25);
    transition: 0.5s;
    transform: scale(1.02);
  }
  /*End section filters*/
  /*Section cards menu*/
  .wrapper {
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
    height: auto;
    position: relative;
    margin-top: 15%;
    min-width: 100%;
    background-color: #f6f6f6;
  }
  .wrapper .cards__title {
    padding: 2em 3em 0 1em;
    left: 0;
    text-align: left;
    font-size: 26px;
    color: #000;
  }
  .wrapper ul.cards__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
    margin-bottom: 30%;
    margin: 0 auto;
    padding-bottom: 44px;
    width: 90%;
  }
  .wrapper .cards__container li {
    position: relative;
    margin: 5% 1%;
    list-style-type: none;
    background-color: #fff;
    border-radius: 20px;
    width: 335px;
    height: 251px;
    display: inline-block;
  }
  .wrapper .new__title {
    position: absolute;
    right: 10px;
    top: 10px;
    padding: 7px 12px 4px;
    border-radius: 2px;
    background-color: #99e2d0;
    color: green;
    font-size: 15px;
    font-weight: 500;
  }
  .wrapper .card__description {
    width: 99%;
    padding: 3px 0 33px 18px;
  }
  .wrapper .card__description .heart__icon {
    bottom: 0;
    right: 0;
    position: absolute;
    padding: 0 9px 6px 0;
  }
  .wrapper .card__description .heart__icon .empty-heart {
    opacity: 1;
    font-size: 35px;
    color: black;
    transition: 0.5s ease-in-out;
  }
  .wrapper .card__description .heart__icon .empty-heart:hover {
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .card__description .heart__icon .full-heart {
    opacity: 0;
    font-size: 35px;
    position: absolute;
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1.5s ease-out;
  }
  .wrapper .card__description .heart__icon .full-heart:hover {
    opacity: 1;
    cursor: pointer;
    top: -1%;
  }
  .wrapper .card__description .heart__icon:hover {
    color: #9356DC;
    cursor: pointer;
  }
  .wrapper .card__description .heart__icon:hover .empty-heart {
    opacity: 1;
    font-size: 35px;
    color: black;
    transition: 0.5s ease-in-out;
  }
  .wrapper .card__description .heart__icon:hover .empty-heart:hover {
    opacity: 0;
    cursor: pointer;
  }
  .wrapper .card__description .heart__icon:hover .full-heart {
    opacity: 0;
    font-size: 35px;
    position: absolute;
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: 1.5s ease-out;
  }
  .wrapper .card__description .heart__icon:hover .full-heart:hover {
    opacity: 1;
    cursor: pointer;
    top: -1%;
  }
  .wrapper .img__menu1 {
    object-fit: cover;
    max-width: 336px;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .wrapper .img__menu2 {
    object-fit: cover;
    max-width: 336px;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .wrapper .img__menu3 {
    object-fit: cover;
    max-width: 336px;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .wrapper .img__menu4 {
    object-fit: cover;
    max-width: 336px;
    height: 174px;
    border-radius: 15px 15px 0 0;
  }
  .wrapper .cards__container li:hover {
    box-shadow: 0 0 10px grey;
    transform: scale(1.01);
    transition: 0.5s;
  }
  /*End section cards menu*/
}
footer {
  background-color: #353535;
  min-width: 100%;
  margin-top: 0%;
}

.container__footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  left: 0;
  padding: 1rem;
  margin-top: -8%;
}

.footer__logo {
  color: #fff;
  font-family: Shrikhand, "cursive";
  font-size: 1.6rem;
  margin: 0 0 1rem;
}

.footer__items {
  list-style: none;
  position: relative;
  padding-left: 2%;
}
.footer__items .icon__footer {
  position: absolute;
  color: white;
  margin: 1% 0 0 1%;
  left: 0;
}
.footer__items .item__align {
  /*padding-left:8%;
  */
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

/*responsive Tablette*/
@media screen and (max-width: 992px) {
  .main__btn {
    min-width: 77%;
  }
  .container__filters {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
  }
  .container__filters .filter__title {
    margin: 5%;
  }
  .container__filters li.filter__step {
    min-width: 100%;
  }
  .container__filters ol.filters__steps {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 100%;
    margin: 0 auto;
    min-width: 90%;
  }
  .container__filters li:hover {
    cursor: pointer;
    background-color: rgba(213, 184, 234, 0.25);
    transition: 0.5s;
    transform: scale(1.02);
  }
  .wrapper {
    margin-top: 7%;
  }
  .wrapper .cards__container li {
    min-width: 95%;
  }
  .wrapper .img__menu1, .wrapper .img__menu2, .wrapper .img__menu3, .wrapper .img__menu4 {
    min-width: 100%;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0 auto;
  font-family: "Roboto", sans-serif;
}
body fieldset {
  border: 0;
}
body header {
  margin: 0 auto;
  padding: 1rem;
}
body header h1 {
  font-family: "Shrikhand", cursive;
  font-size: 2rem;
  margin: 0;
  padding: 1rem 0;
  text-align: center;
}
body header > div {
  display: flex;
}
body header .Logo {
  display: flex;
  justify-content: center;
  flex-basis: 2rem;
  margin-left: 1rem;
  align-items: center;
}
body header .Logo i {
  font-size: 1.5rem;
  color: black;
  cursor: pointer;
}
body header .titre {
  display: flex;
  justify-content: center;
  flex-basis: 77%;
}
body header .titre h1 {
  font-family: "Shrikhand", cursive;
}
body main .img__menu {
  z-index: -1;
  position: relative;
}
body main .img__menu img {
  object-fit: cover;
  object-position: 50% 45%;
  width: 100%;
  max-height: 240px;
}
body main .container__menu {
  margin-top: -40px;
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
}
body main .bloc__menu {
  display: flex;
  flex-direction: column;
  gap: 45px;
  width: 90%;
  margin: auto;
}
body main .title__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5% 5% 0 0;
  margin-bottom: 9%;
  width: 100%;
  font-family: "Shrikhand", cursive;
}
body main .menus {
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
body main .menus .articles {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 5px;
}
body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
  display: flex;
  justify-content: center;
  padding-bottom: 3rem;
  flex-wrap: wrap;
  width: 32%;
  align-content: flex-start;
}
body main .menus .articles .entrees h4, body main .menus .articles .entrees p, body main .menus .articles .plats h4, body main .menus .articles .plats p, body main .menus .articles .desserts h4, body main .menus .articles .desserts p {
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-overflow: ellipsis;
}
body main .menus .articles .entrees p, body main .menus .articles .plats p, body main .menus .articles .desserts p {
  font-size: 0.9rem;
}
body main .menus .articles .entrees h3, body main .menus .articles .plats h3, body main .menus .articles .desserts h3 {
  display: flex;
  justify-content: center;
  flex-basis: 100%;
  text-transform: uppercase;
  color: black;
  font-weight: normal;
  margin: 0;
  padding-bottom: 1rem;
  position: relative;
}
body main .menus .articles .entrees h3::after, body main .menus .articles .plats h3::after, body main .menus .articles .desserts h3::after {
  position: absolute;
  top: 25px;
  content: "";
  height: 3px;
  width: 50px;
  background-color: #99E2D0;
}
body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
  display: flex;
  background-color: white;
  width: 100%;
  height: 69px;
  border-radius: 1rem;
  overflow: hidden;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  box-shadow: 0 2px 5px darkgray;
}
body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
  margin: 0;
  transition: all 0.5s;
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu:hover .select-choix i, body main .menus .articles .plats .article-menu:hover .select-choix i, body main .menus .articles .desserts .article-menu:hover .select-choix i {
  animation: spin 1s;
}
body main .menus .articles .entrees .article-menu .description, body main .menus .articles .plats .article-menu .description, body main .menus .articles .desserts .article-menu .description {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  justify-content: space-between;
  width: calc(100% - 54px);
  padding: 0.5rem 0 0.5rem 1rem;
}
body main .menus .articles .entrees .article-menu .description:hover, body main .menus .articles .plats .article-menu .description:hover, body main .menus .articles .desserts .article-menu .description:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .prix, body main .menus .articles .plats .article-menu .prix, body main .menus .articles .desserts .article-menu .prix {
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: flex-end;
  padding: 0 0.5rem 0.5rem 0;
  border-radius: 0 1rem 1rem 0;
}
body main .menus .articles .entrees .article-menu .prix:hover, body main .menus .articles .plats .article-menu .prix:hover, body main .menus .articles .desserts .article-menu .prix:hover {
  cursor: pointer;
}
body main .menus .articles .entrees .article-menu .select-choix, body main .menus .articles .plats .article-menu .select-choix, body main .menus .articles .desserts .article-menu .select-choix {
  display: flex;
  justify-content: center;
  background-color: #99E2D0;
  color: white;
  font-weight: bold;
  font-size: 1.3rem;
  align-items: center;
  border-radius: 0 1rem 1rem 0;
  width: 0;
  margin-right: -4rem;
}
body main .menus .articles .entrees .article-menu .select-choix:hover, body main .menus .articles .plats .article-menu .select-choix:hover, body main .menus .articles .desserts .article-menu .select-choix:hover {
  width: 80px;
}
body main .btn__order {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  background-color: #f6f6f6;
}
body main .btn__order label {
  display: flex;
  justify-content: center;
  color: white;
  margin-bottom: 3rem;
  transition: 100ms;
  border: none;
  padding: 0.75rem 1.5rem;
  font-weight: 500;
  font-size: 1.1rem;
  border-radius: 100px;
  background-color: #686868;
  background-image: linear-gradient(0deg, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
}
body main .btn__order label:hover {
  cursor: pointer;
  transform: scale(1.02);
  box-shadow: 0.25rem 0.25rem 10px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}
body main .btn__order label:hover:hover {
  cursor: pointer;
  transition-duration: 0.25s;
  background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
  box-shadow: 5px 5px 10px rgba(32, 24, 24, 0.5);
}
body main .btn__order p {
  font-size: 1.8rem;
  margin: 0;
  margin-top: 1.5rem;
  padding: 0 1rem;
  flex-basis: 100%;
}
body main .heart__icon {
  right: 1%;
  position: absolute;
  padding: 0 9px 6px 0;
}
body main .heart__icon .empty-heart {
  opacity: 1;
  font-size: 35px;
  color: black;
  transition: 0.5s ease-in-out;
}
body main .heart__icon .empty-heart:hover {
  opacity: 0;
  cursor: pointer;
}
body main .heart__icon .full-heart {
  opacity: 0;
  font-size: 35px;
  position: absolute;
  background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-out;
}
body main .heart__icon .full-heart:hover {
  opacity: 1;
  cursor: pointer;
  top: -1%;
}
body main .heart__icon:hover {
  cursor: pointer;
}
body main .heart__icon:hover .empty-heart {
  opacity: 1;
  font-size: 35px;
  color: black;
  transition: 0.5s ease-in-out;
}
body main .heart__icon:hover .empty-heart:hover {
  opacity: 0;
  cursor: pointer;
}
body main .heart__icon:hover .full-heart {
  opacity: 0;
  font-size: 35px;
  position: absolute;
  background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 1.5s ease-out;
}
body main .heart__icon:hover .full-heart:hover {
  opacity: 1;
  cursor: pointer;
  top: -1%;
}
body footer {
  background-color: #353535;
  color: white;
}
body footer h1 {
  width: 100%;
  font-family: "Shrikhand", cursive;
  font-weight: normal;
  font-size: 24px;
  margin-bottom: 1%;
}
body footer p {
  margin-bottom: 1%;
}
body footer a {
  text-decoration: none;
  color: white;
  align-items: center;
}
body footer i {
  padding-right: 5px;
}
body footer .footer {
  display: flex;
  flex-direction: column;
  padding: 1rem 0 1rem 1.5rem;
}

/**MEDIA QUERIES*/
@media (max-width: 992px) {
  body main .menus {
    margin-top: 7%;
  }
  body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
    display: flex;
    width: 48%;
  }
  body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
    max-width: 440px;
  }
  body main .button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  body main footer {
    background-color: #353535;
    padding-left: 0.5rem;
  }
  body main footer h1, body main footer .footer {
    display: block;
  }
  body main footer .footer .fa-solid.fa-utensils {
    margin-right: 6px;
  }
}
@media (max-width: 768px) {
  body main .menus {
    margin-top: 20%;
  }
  body main .menus .articles .entrees, body main .menus .articles .plats, body main .menus .articles .desserts {
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  body main .menus .articles .entrees .article-menu, body main .menus .articles .plats .article-menu, body main .menus .articles .desserts .article-menu {
    display: flex;
    background-color: white;
    width: 100%;
    height: 69px;
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    box-shadow: 0 2px 5px darkgray;
  }
  body main .menus .articles .entrees .article-menu:hover .select-choix, body main .menus .articles .plats .article-menu:hover .select-choix, body main .menus .articles .desserts .article-menu:hover .select-choix {
    margin: 0;
    transition: all 0.5s;
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu:hover .select-choix i, body main .menus .articles .plats .article-menu:hover .select-choix i, body main .menus .articles .desserts .article-menu:hover .select-choix i {
    animation: spin 1s;
  }
  body main .menus .articles .entrees .article-menu .description, body main .menus .articles .plats .article-menu .description, body main .menus .articles .desserts .article-menu .description {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    justify-content: space-between;
    width: calc(100% - 54px);
    padding: 0.5rem 0 0.5rem 1rem;
  }
  body main .menus .articles .entrees .article-menu .description:hover, body main .menus .articles .plats .article-menu .description:hover, body main .menus .articles .desserts .article-menu .description:hover {
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu .prix, body main .menus .articles .plats .article-menu .prix, body main .menus .articles .desserts .article-menu .prix {
    display: flex;
    justify-content: center;
    font-weight: bold;
    align-items: flex-end;
    padding: 0 0.5rem 0.5rem 0;
    border-radius: 0 1rem 1rem 0;
  }
  body main .menus .articles .entrees .article-menu .prix:hover, body main .menus .articles .plats .article-menu .prix:hover, body main .menus .articles .desserts .article-menu .prix:hover {
    cursor: pointer;
  }
  body main .menus .articles .entrees .article-menu .select-choix, body main .menus .articles .plats .article-menu .select-choix, body main .menus .articles .desserts .article-menu .select-choix {
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
    align-items: center;
    border-radius: 0 1rem 1rem 0;
    width: 0;
    margin-right: -4rem;
  }
  body main .menus .articles .entrees .article-menu .select-choix:hover, body main .menus .articles .plats .article-menu .select-choix:hover, body main .menus .articles .desserts .article-menu .select-choix:hover {
    width: 80px;
  }
  body main .menus .articles .entrees h3, body main .menus .articles .plats h3, body main .menus .articles .desserts h3 {
    display: flex;
    justify-content: flex-start !important;
    margin-left: 10px;
  }
  body main footer {
    background-color: #353535;
    padding-left: 0.5rem;
  }
  body main footer h1, body main footer .footer {
    display: block;
  }
  body main footer .footer .fa-solid.fa-utensils {
    margin-right: 6px;
  }
}
@media (max-width: 1200px) {
  body {
    max-width: 1440px;
  }
  body main .menus {
    margin-top: 7%;
  }
  body main .menus .title__menu {
    padding: 5% 10% 0 0;
  }
}
.loader__wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #f6f6f6;
  opacity: 0.9;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: disappear 200ms;
  animation-fill-mode: forwards; /*une fois terminer l'animation reste à sa place*/
  animation-delay: 3s;
  transform-origin: top;
}
.loader__wrapper .ring {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation: ring 2s linear infinite;
}
@keyframes ring {
  0% {
    transform: rotate(0deg);
    box-shadow: 1px 5px 2px #9356dc;
  }
  50% {
    transform: rotate(180deg);
    box-shadow: 1px 5px 2px #F066F2;
  }
  100% {
    transform: rotate(360deg);
    box-shadow: 1px 5px 2px #9356dc;
  }
}
@keyframes disappear {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/*# sourceMappingURL=style.css.map */
