
/*Mixins*/

@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin shadowbtn{
    box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);

    &:hover{
    cursor: pointer;
    transition-duration: .25s;
    background: linear-gradient(110deg, #a16be0 0%, #ff93e1 100%);
    box-shadow: 5px 5px 10px rgb(32 24 24 / 50%);
    }
}


@mixin heart{
    
    .empty-heart {
        opacity: 1;  /*visible*/
        font-size:35px;
        color: black;
        transition: 0.5s ease-in-out;/* spécifie un effet de transition avec un début et une fin lents */
        

        &:hover{
            
            opacity: 0;
            cursor: pointer;
        }
    }
    
    .full-heart {
    opacity: 0;  /*invisible*/
    font-size: 35px;
    position :absolute;
    background: linear-gradient(283deg, #ff79da 0%, #9356dc 100%);
    -webkit-background-clip: text; /* (-webkit prefix pour compatibilité) 
    mettre le background sur le text */
    -webkit-text-fill-color: transparent; /*couleur transparent*/
    transition: 1.5s ease-out; /* spécifie un effet de transition avec une fin lente*/

    &:hover{
        opacity: 1; /*visible*/
        cursor: pointer;
        top:-1%;
    }
    } 
    }
      
        @mixin nowrap-ellipsis {  
            white-space: nowrap;/*les passages à la ligne automatiques sont supprimés.*/
            text-overflow: ellipsis;/*quand le texte dépasse on rajoute ...*/
        }
        
        @mixin overhidden() {
            overflow: hidden;/* on cache ce qui dépasse*/
            @include nowrap-ellipsis;
        }
        
        
        @mixin choix-menu {   // création d'un choix de menu
            .menus {
                border: 0;
                padding: 0;
                @include flex-center;
                flex-wrap: wrap;
               

                .articles {
                    display: flex;
                    justify-content: space-around;
                    flex-wrap: wrap;
                    gap: 5px;
                    
                    .entrees, .plats, .desserts {
                        @include flex-center;
                        padding-bottom: 3rem;
                        flex-wrap: wrap;
                        width: 32%;
                        align-content: flex-start;
                        // min-width: 320px;
                        h4, p {
                            margin: 0;
                                 @include overhidden;      
                            @include nowrap-ellipsis;
                        }
                        p {
                            font-size: 0.9rem;
                        }
        
                        h3 {
                            @include flex-center;
                            flex-basis: 100%;
                            // mise en majuscule des titres de menus
                            text-transform: uppercase;  
                            color:black;
                            font-weight: normal;
                            margin: 0;
                            padding-bottom: 1rem;
                            position: relative;
                            // trait de soulignement vert
                            &::after {          
                                position: absolute;
                                top: 25px;
                                content: "";
                                height: 3px;
                                width: 50px;
                                background-color: $color-Tertiary;
                            }
                        }
                        @include article-menu;
                    }
                }
            }
        }
        
        
        @mixin article-menu {
            .article-menu {

                display: flex;
                background-color: white;
                width: 100%;
                height: 69px;
                border-radius: 1rem;
                overflow: hidden;
                margin-bottom: 1rem;
                margin-left: 1rem;
                margin-right: 1rem;
                box-shadow: 0 2px 5px $--darkgray;
        
                &:hover .select-choix {
                    margin: 0;
                    transition: all 0.5s;
                    cursor: pointer;
                }
                &:hover .select-choix i {
                    animation: spin 1s;
                }
        
                .description {
                    display: flex;
                    flex-direction: column;
                    overflow: hidden;              
                    @include nowrap-ellipsis;
                    justify-content: space-between;
                    width: calc(100% - 54px);
                    padding: 0.5rem 0 0.5rem 1rem;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .prix {
                    @include flex-center;
                 
                    font-weight: bold;
                    align-items: flex-end;
                    padding: 0 0.5rem 0.5rem 0;
                    border-radius: 0 1rem 1rem 0;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .select-choix {
                    @include flex-center;
                    background-color: $color-Tertiary;
                    color: white;
                    font-weight: bold;
                    font-size: 1.3rem;
                    align-items: center;
                    border-radius: 0 1rem 1rem 0;
                    width: 0;
                    margin-right: -4rem;

                    &:hover{
                        width: 80px;
                       
                    }
                }
            }
        }
        
      
        
       
        @mixin flex-center {
            display: flex;
            justify-content: center;
        }
        
        // la coche qui pivote sur 360°
        @keyframes spin {                       
            0% { transform: rotate(0deg); }
            100% { transform: rotate(360deg); }
        }
        
        @keyframes effet-opacity {
            0% { opacity: 0; }
            100% { opacity: 1; }
        }
        
        // animation des menus

  // Durée apparition animation
  #article_1, #article_4, #article_7 {                 // 1ère lignes      
    animation: apparition 600ms ease-in;
}
#article_2, #article_5, #article_8 {                // 2ème lignes
    animation: apparition 1.2s ease-in;
}
#article_3, #article_6, #article_9 {                // 3ème lignes
    animation: apparition 1.8s ease-in;/*spécifie un effet de transition avec un démarrage lent*/
}
#article_10 {                                       // 4ème ligne pour le restaurant qui comporte 4 choix dans un menu
    animation: apparition 2.4s ease-in;
}

        @keyframes apparition {

            0% {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

 @mixin footer-mobile {
            footer
{
	background-color:$background-color-footer;
	min-width: 100%;
	margin-top: 0%;
}

.container__footer
{
	background-color:$background-color-footer;
	display: flex;
	flex-direction: column;
	left:0;
	padding: 1rem;
	margin-top: -8%;
}

.footer__logo
{
	color: #fff;
	font-family: Shrikhand,"cursive";
	font-size: 1.6rem;
	margin: 0 0 1rem;
}

.footer__items
{
	list-style: none;
	position: relative;
	padding-left: 2%;
	.icon__footer
	{
		position: absolute;
		color: white;
		margin: 1% 0 0 1%;
		left:0;
	}

	.item__align
    
	{
		/*padding-left:8%;
		*/
	}

}

li
{
	list-style: none;
}

a
{
	color: white;
	text-decoration: none;
	display: block;
}

        }
        



        @mixin btn-style() {                
    .btn__order {
        @include flex-center;
        flex-wrap: wrap;
        width: 100%;
        background-color:$background-color-main;
        label {
            @include flex-center;
            color: white;
            margin-bottom: 3rem;
            transition: 100ms;
                border: none;
                padding: 0.75rem 1.5rem;
                font-weight: 500;
                font-size: 1.1rem;
                border-radius: 100px;
                background-color: #686868;
                background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));

            &:hover {
                cursor: pointer;
                transform: scale(1.02);
                @include shadowbtn;
                transition: 0.5s;
            }
        }
        p {
            font-size: 1.8rem;
            margin: 0;
            margin-top: 1.5rem;
            padding: 0 1rem;
            flex-basis: 100%;
        }
    }
}

@mixin flex-center {
    display: flex;
    justify-content: center;
}