$center: 'center';

/*color*/
$primary-color:#9356DC;
$color-secondary:#FF79DA;
$color-Tertiary:#99E2D0;
$background-color-footer:#353535;
$background-color-body:#fff;
$background-color-map:#eaeaea;
$background-color-main:#f6f6f6;



/*texte*/
$text-size:24px;
$text-color:#000;
$text-white:#fff;
$font-weights :(
    "regular":400,
    "medium" :500,
    "bold"   :900
);

