$center: 'center';

/*color*/
$primary-color:#9356DC;
$color-secondary:#FF79DA;
$color-Tertiary:#99E2D0;
$background-color-footer:#353535;
$background-color-body:#fff;
$background-color-map:#eaeaea;
$background-color-main:#f6f6f6;

$--darkgray: darkgray;
$--dimgray: dimgray;
$--lightgray: lightgray;
$--graywhite: #F6F6F6;
$--lightpurple: #F5EDFF;
$--green: #2FAF94;


/*texte*/
$text-size:24px;
$text-color:#000;
$text-white:#fff;
$font-weights :(
    "regular":400,
    "medium" :500,
    "bold"   :900
);


/*
*       Variables pour média queries
*/
$mobile: 768px;
$tablette: 992px;
$desktop: 1200px;
$max-width: 1500px;








.bold {
    font-weight: bold;
}

.accessibility-label {
	position:absolute;
	left:-999px;
}
